@model ComplianceBuddy.Models.Inspection

<div class="container">
  <h2>Add Inspection</h2>
  <form asp-action="Create" method="post">
    <div>
      <label asp-for="Vin" class="form-label"></label>
      <input asp-for="Vin" class="form-control" />
    </div>
    <div>
      <label asp-for="Date" class="form-label"></label>
      <input asp-for="Date" class="form-control" />
    </div>
    <div class="form-check my-3">
      <input asp-for="Passed" class="form-check-input" />
      <label asp-for="Passed" class="form-check-label"></label>
    </div>
    <input asp-for="UserId" type="hidden" value="@ViewData["UserId"]" />
    <button type="submit" class="btn btn-primary submit-button">Add Inspection</button>
  </form>
</div>