@model ComplianceBuddy.Models.Inspection

<div class="container">
  <h2>Edit Inspection</h2>
  <form asp-action="ConfirmEdit" method="post" asp-route-id="@Model.Id">
    @Html.AntiForgeryToken()
    <div>
      <label asp-for="Vin" class="form-label"></label>
      <input asp-for="Vin" class="form-control" />
    </div>
    <div>
      <label asp-for="Date" class="form-label"></label>
      <input asp-for="Date" class="form-control" />
    </div>
    <div class="form-check my-3">
      <input asp-for="Passed" class="form-check-input" />
      <label asp-for="Passed" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>